/** GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: black;
    text-decoration: none;
    list-style: none;
}

img {
    width: min(100%, 100%);
    display: block;
}

body {
    background: #fff;
}

header,
section,
footer {
    width: min(100%, 100%);
}

h1 {
    color: white;
}

h2 {
    font-weight: 400;
    margin-bottom: 46px;
}

ul li {
    line-height: 25px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 30px 80px;
    border: 7px solid white;
    border-radius: 15px;
    font-size: 2rem;
}

.polygons {
    width: 10px;
}

/*? PROPRIETES BOX*/
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-direction: column;
}

/*? MISE EN PLACE DES VARIABLES */
:root {
    --color-black: black;
    --color-darkGray: #7a7070;
    --color-white: #fff;
    --color-grey: #f5f5f5;
    --color-purple: #7e2bbb;
}

/*? FOOTER */
.footer {
    height: 400px;
    background: var(--color-black);
    color: var(--color-white);
    justify-content: space-around;
}

.logo {
    margin-top: 60px;
}

.reseaux__container {
    margin-top: 20px;
    justify-content: space-around;
    width: min(20%, 80%);
}

.footer p {
    color: var(--color-white);
    font-size:x-large;
    margin: 40px 0px;
}

.footer p span {
    color: var(--color-white);
    font-size: medium;
}

.nav__footer {
    justify-content: space-around;
    flex-wrap: wrap;
    width: min(60%, 80%);
    margin-bottom: 30px;
}

.nav__footer a {
    color: var(--color-white);
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    line-height: 2rem;
}


/*? MEDIAQUERIES */


@media screen and (max-width: 768px) {

    .footer {
        height: auto;
    }
    
    .reseaux__container,
    .nav__footer {
        flex-direction: column;
    }

}




