/** GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: black;
    text-decoration: none;
    list-style: none;
}

main {
    padding-left: 21px;
    padding-right: 21px;
}

img {
    width: min(100%, 100%);
    display: block;
}

body {
    background: #fff;
}

header,
section,
footer {
    width: min(100%, 100%);
}

h1 {
    color: white;
}

h2 {
    font-weight: 400;
    margin-bottom: 46px;
}

ul li {
    line-height: 25px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 30px 80px;
    border: 7px solid white;
    border-radius: 15px;
    font-size: 2rem;
}

.polygons {
    width: 7px;
}

/*? PROPRIETES BOX*/
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-direction: column;
}

/*? MISE EN PLACE DES VARIABLES */
:root {
    --color-black: black;
    --color-darkGray: #7a7070;
    --color-white: #fff;
    --color-grey: #f5f5f5;
    --color-purple: #7e2bbb;
}

/*? HEADER */
.header__logo {
    justify-content: center;
    background: var(--color-black);
    min-height: 103px;
}

.header__logo img {
    width: 118px;
    margin: 10px 0;
}

.header__navigation {
    min-height: 80px;
}

/* burger et navigation */

.header__burger {
    gap: 3px;
    margin-left: 21px;
    min-width: 20px;
}

.barre__hamburger {
    width: 50px;
    height: 7px;
    background-color: var(--color-purple);
    border-radius: 5px;
}

.header__burger:hover {
    cursor: pointer;
}

.header__icons-client {
    min-width: 400px;
    justify-content: space-around;
    gap: 40px;
}

.input__search {
    gap: 15px;
}

.input__search input {
    border-radius: 15px;
    height: 30px;
    text-align: center;
}

.input__search input::placeholder {
    padding-left: 15px;
}

.input__search img {
    width: 17px;
}

.search {
    min-width: 250px;
}

.icons__container {
    width: 150px;
    justify-content: space-between;
    margin-right: 21px;
}

/** CLASS ANIMATIONS JS POUR LE BURGER QUI SE TRANSFORME EN CROIX*/

/* barres hamburger en position normale */
.visible {
    opacity: 1;
    transition: 3.5s;
}

.initial1 {
    transform: translateY(0px) rotate(0deg);
    transition: 1.5s;
}

.initial2 {
    transform: translateY(0px) rotate(0deg);
    transition: 1.5s;
}

/* mise en place de la croix */
.opacity {
    opacity: 0;
    transition: 1.4s;
}

.rotate1 {
    transform: translateY(10px) rotate(130deg);
    transition: 1.5s;
}

.rotate2 {
    transform: translateY(-10px) rotate(-130deg);
    transition: 1.5s;
}

/*? NAVIGATION */
.nav__desktop {
    justify-content: space-around;
    padding: 21px;
    background: var(--color-white);
    opacity: 0.9;
    width: min(100%, 100%);
    position: relative;
    top: 0px;
    z-index: 1;
}

.nav__list {
    min-height: 275px;
    min-width: 150px;
}

.digitalized span {
    font-size:medium;
}

/** CLASS ANIMATION JS POUR LA NAVIGATION VENANT DE GAUCHE */
/* Navigation apparait au clic */
.open {
    transition: 1s;
    left: 0px;
}

/* Navigation cachée à gauche */
.close {
    transition: 2s;
    left: -2880px;
}

/*? CATEGORIES */

.categories {
    position: relative;
    top: -270px;
}

.categories h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
    font-size: clamp(38px, 5vw, 48px);
}

.categories__container {
    justify-content: center;
    align-items: flex-start;
    gap: 1px;
    flex-wrap: wrap;
}

.categories__titres {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size:larger;
    padding-bottom: 10px;
    border-bottom: 10px solid white;
}

.categories__titres:hover {
    cursor: pointer;
    transition: 1s;
    border-bottom: 10px solid var(--color-purple);
    width: 50%;
}

.categories__autres {
    gap: 1px;
    justify-content: space-between;
}

.categories__sexes {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px;
}

.categories__moment > img {
    width: 525px;
    height: 1035px;
}

.categorie__hommes > img {
    width: 253px;
    height: 413px;
}

.categorie__femmes > img {
    width: 253px;
    height: 413px;
}

.categorie__accessoires > img {
    width: 506px;
    height: 621px;
}

.categorie__accessoires {
    align-items: flex-END;
    flex-wrap: wrap;
}

.categories__titre-accessoires {
    gap: 10px;
    font-size:larger;
    padding-top: 10px;
    border-top: 10px solid white;
}

.categories__titre-accessoires:hover {
    cursor: pointer;
    transition: 1s;
    border-top: 10px solid var(--color-purple);
    width: 29.5%;
}

/*? SECTIONS NOUVEAUTES */
.nouveautes {
    height: auto;
    position: relative;
    top: -150px;
}

.nouveautes h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
    padding-left: 21px;
}

.nouveautes__container {
    height: max(462px, 100%);
    width: min(100%, 100%);
    background: var(--color-purple);
    justify-content: space-around;
    gap: 20px;
    padding: 40px 0px;
}

.nouveautes__items {
    width: 180px;
    height: auto;
}

/*? NEWSLETTER */
.newsletter {
    height: auto;
    align-items: center;
    margin-bottom: 154px;
}

.newsletter h2 {
    font-size: clamp(38px, 5vw, 48px);
    margin-bottom: 4rem;
    padding-left: 21px;
    text-align: center;
}

.input__newsletter {
    width: 100%;
    gap: 15px;
    justify-content: center;
}

.input__newsletter input {
    height: 50px;
    width: min(759px, 80%);
    background: var(--color-grey);
    border: none;
    text-align: center;
}

/*? FOOTER */
.footer {
    height: 400px;
    background: var(--color-black);
    color: var(--color-white);
    justify-content: space-around;
}

.logo {
    margin-top: 60px;
}

.reseaux__container {
    margin-top: 20px;
    justify-content: space-around;
    width: min(20%, 80%);
}

.footer p {
    color: var(--color-white);
    font-size:x-large;
    margin: 40px 0px;
}

.footer p span {
    color: var(--color-white);
    font-size: medium;
}

.nav__footer {
    justify-content: space-around;
    flex-wrap: wrap;
    width: min(60%, 80%);
    margin-bottom: 30px;
}

.nav__footer a {
    color: var(--color-white);
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    line-height: 2rem;
}

/*? MEDIAQUERIES */

@media screen and (max-width: 1250px) {

    .nouveautes {
        margin-top: -50px;
    }

    .nouveautes__container {
        padding: 40px 40px;
    }
}

@media screen and (max-width: 1074px) {

    .categories__container {
        gap: 80px;
    }
}

@media screen and (max-width: 992px) {
    
    .nav__desktop {
        flex-direction: column;
        text-align: center;
    }

    .nav__list h2 {
        margin-bottom: 8px;
    }

    .nav__list {
        min-height:60px;
        min-width: 150px;
        margin-bottom: 10px;
    }
    
    .titres__sections {
        text-align: center;
    }

    .categories {
        margin-top: -500px;
    }

    .nouveautes {
        align-items: center;
    }

    .nouveautes__container {
        flex-direction: column;
        align-items: center;
        width: 400px;
    }

    .newsletter {
        margin-top: -30px;
    }
}


@media screen and (max-width: 768px) {

    .header__navigation {
        flex-direction: column;
        height: auto;
        padding: 5px;
        gap: 15px;
    }
    
    .header__burger {
        margin: 30px 0px;
    }

    .header__icons-client {
        flex-direction: column;
        gap: 15px;
    }

    .input__search img {
        display: none;
    }

    .input__search input {
        margin-left: 15px;
    }

    .icons__client {
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }

    .icons__container {
        margin-right: 0px;
    }

    .icons__container a img {
        padding: 5px;
    }

    .categories h2 {
        text-align: center;
    }

    .categories {
        margin-top: -400px;
    }

    .categories__autres {
        gap: 80px;
    }

    .categories__titres {
        justify-content: center;
    }

    .categorie__hommes > img {
        margin: 0px;
    }
    
    .categorie__femmes > img {
        margin: 0px;
    }
    
    .categorie__accessoires {
        margin: 0px;
        justify-content: center;
    }

    .accessoires {
        width: 100%;
        justify-content: center;
    }

    .categories__titres:hover {
        cursor: pointer;
        transition: 1s;
        border-bottom: 10px solid var(--color-purple);
        width: 100%;
    }

    .newsletter {
        margin-top: -50px;
    }

    .footer {
        height: auto;
    }
    
    .reseaux__container,
    .nav__footer {
        flex-direction: column;
    }

}

@media screen and (max-width: 570px) {
    .header__navigation {
        flex-direction: column;
        height: auto;
        padding: 5px;
        gap: 15px;
    }
    
    .header__burger {
        margin: 30px 0px;
    }

    .header__icons-client {
        flex-direction: column;
        gap: 15px;
    }

    .input__search img {
        display: none;
    }

    .input__search input {
        margin-left: 15px;
    }

    .icons__client {
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }

    .icons__container {
        margin-right: 0px;
    }

    .icons__container a img {
        padding: 5px;
    }

    .categories {
        margin-top: -400px;
    }

    .categories__moment > img {
        width:254px;
        height:453px;
    }

    .categories__sexes {
        justify-content: center;
        flex-wrap: wrap;
        gap: 75px;
    }

    .categorie__accessoires {
        align-items: center;
    }

    .categorie__accessoires > img {
        width:250px;
        height: 313px;
    }

    .newsletter {
        margin-top: -50px;
    }

}
