/** GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: black;
    text-decoration: none;
    list-style: none;
}

img {
    width: min(100%, 100%);
    display: block;
}

body {
    background: #fff;
}

header,
section,
footer {
    width: min(100%, 100%);
}

h1 {
    color: white;
}

h2 {
    font-weight: 400;
    margin-bottom: 46px;
}

ul li {
    line-height: 25px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 30px 80px;
    border: 7px solid white;
    border-radius: 15px;
    font-size: 2rem;
}

.polygons {
    width: 10px;
}

/*? PROPRIETES BOX*/
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-direction: column;
}

/*? MISE EN PLACE DES VARIABLES */
:root {
    --color-black: black;
    --color-darkGray: #7a7070;
    --color-white: #fff;
    --color-grey: #f5f5f5;
    --color-purple: #7e2bbb;
}

/*? HEADER */
.header__logo {
    justify-content: center;
    background: var(--color-black);
    min-height: 103px;
}

.header__logo img {
    width: 118px;
    margin: 10px 0;
}

.header__navigation {
    min-height: 80px;
}

/* burger et navigation */

.header__burger {
    gap: 3px;
    margin-left: 21px;
    min-width: 20px;
}

.barre__hamburger {
    width: 50px;
    height: 7px;
    background-color: var(--color-purple);
    border-radius: 5px;
}

.header__burger:hover {
    cursor: pointer;
}

.header__icons-client {
    min-width: 400px;
    justify-content: space-around;
    gap: 40px;
}

.input__search {
    gap: 15px;
}

.input__search input {
    border-radius: 15px;
    height: 30px;
    text-align: center;
}

.input__search input::placeholder {
    padding-left: 15px;
}

.input__search img {
    width: 17px;
}

.search {
    min-width: 250px;
}

.icons__container {
    width: 150px;
    justify-content: space-between;
    margin-right: 21px;
}

/** CLASS ANIMATIONS JS POUR LE BURGER QUI SE TRANSFORME EN CROIX*/

/* barres hamburger en position normale */
.visible {
    opacity: 1;
    transition: 3.5s;
}

.initial1 {
    transform: translateY(0px) rotate(0deg);
    transition: 1.5s;
}

.initial2 {
    transform: translateY(0px) rotate(0deg);
    transition: 1.5s;
}

/* mise en place de la croix */
.opacity {
    opacity: 0;
    transition: 1.4s;
}

.rotate1 {
    transform: translateY(10px) rotate(130deg);
    transition: 1.5s;
}

.rotate2 {
    transform: translateY(-10px) rotate(-130deg);
    transition: 1.5s;
}

/*? NAVIGATION */
.nav__desktop {
    justify-content: space-around;
    padding: 21px;
    background: var(--color-white);
    opacity: 0.9;
    width: min(100%, 100%);
    position: relative;
    top: 0px;
    z-index: 1;
}

.nav__list {
    min-height: 275px;
    min-width: 150px;
}

.digitalized span {
    font-size:medium;
}

/** CLASS ANIMATION JS POUR LA NAVIGATION VENANT DE GAUCHE */
/* Navigation apparait au clic */
.open {
    transition: 2s;
    left: 0px;
}

/* Navigation cachée à gauche */
.close {
    transition: 3s;
    left: -2880px;
}

/*? MEDIAQUERIES */

@media screen and (max-width: 992px) {
    
    .nav__desktop {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 570px) {
    .header__navigation {
        flex-direction: column;
        height: auto;
        padding: 5px;
        gap: 15px;
    }
    
    .header__burger {
        margin: 30px 0px;
    }

    .header__icons-client {
        flex-direction: column;
        gap: 15px;
    }

    .input__search img {
        display: none;
    }

    .input__search input {
        margin-left: 15px;
    }

    .icons__client {
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }

    .icons__container {
        margin-right: 0px;
    }

    .icons__container a img {
        padding: 5px;
    }
}
