/** GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Orbitron', sans-serif;
    color: black;
    text-decoration: none;
    list-style: none;
}

img {
    width: min(100%, 100%);
    display: block;
}

body {
    background: #fff;
}

header,
section,
footer {
    width: min(100%, 100%);
}

h1 {
    color: white;
}

h2 {
    font-weight: 400;
    margin-bottom: 46px;
}

ul li {
    line-height: 25px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 30px 80px;
    border: 7px solid white;
    border-radius: 15px;
    font-size: 2rem;
}

.polygons {
    width: 10px;
}

/*? PROPRIETES BOX*/
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-straight {
    display: flex;
}

.column {
    flex-direction: column;
}

/*? MISE EN PLACE DES VARIABLES */
:root {
    --color-black: black;
    --color-darkGray: #7a7070;
    --color-white: #fff;
    --color-grey: #f5f5f5;
    --color-purple: #7e2bbb;
}

/*? HEADER */
.header__logo {
    justify-content: center;
    background: var(--color-black);
    min-height: 103px;
}

.header__logo img {
    width: 118px;
    margin: 10px 0;
}

.header__navigation {
    min-height: 80px;
}

/* burger et navigation */

.header__burger {
    gap: 3px;
    margin-left: 21px;
    min-width: 20px;
}

.barre__hamburger {
    width: 50px;
    height: 7px;
    background-color: var(--color-purple);
    border-radius: 5px;
}

.header__burger:hover {
    cursor: pointer;
}

.header__icons-client {
    min-width: 600px;
    justify-content: space-around;
    gap: 40px;
}

.input__search {
    gap: 15px;
}

.input__search input {
    border-radius: 15px;
    height: 30px;
    text-align: center;
}

.input__search input::placeholder {
    padding-left: 15px;
}

.input__search img {
    width: 17px;
}

.search {
    min-width: 250px;
}

.icons__container {
    width: 150px;
    justify-content: space-between;
    margin-right: 21px;
}

/** CLASS ANIMATIONS JS POUR LE BURGER QUI SE TRANSFORME EN CROIX*/

/* barres hamburger en position normale */
.visible {
    opacity: 1;
    transition: 1s;
}

.initial1 {
    transform: translateY(0px) rotate(0deg);
    transition: 0.5s;
}

.initial2 {
    transform: translateY(0px) rotate(0deg);
    transition: 0.5s;
}

/* mise en place de la croix */
.opacity {
    opacity: 0;
    transition: 1s;
}

.rotate1 {
    transform: translateY(10px) rotate(130deg);
    transition: 0.8s;
}

.rotate2 {
    transform: translateY(-10px) rotate(-130deg);
    transition: 0.8s;
}

/*? NAVIGATION */
.nav__desktop {
    justify-content: space-around;
    padding: 21px;
    background: var(--color-white);
    opacity: 0.9;
    width: min(100%, 100%);
    position: relative;
    top: 0px;
    z-index: 1;
}

.nav__list {
    min-height: 275px;
    min-width: 150px;
}

.digitalized span {
    font-size: medium;
}

/** CLASS ANIMATION JS POUR LA NAVIGATION VENANT DE GAUCHE */
/* Navigation apparait au clic */
.open {
    transition: 0.8s;
    left: 0px;
}

/* Navigation cachée à gauche */
.close {
    transition: 1s;
    left: -2880px;
}

/*? SECTION DECOUVERTE */
.decouverte {
    height: 100vh;
    width: min(100%, 90%);
    position: relative;
    top: -440px;
    margin: 0 auto 270px;
}

.decouverte__container {
    justify-content: center;
}

.image__responsive {
    display: none;
}

.decouverte__image-accueil {
    margin-top: 235px;
    width: 100%;
}

.decouverte__image-accueil img {
    margin: 0 auto;
    width: min(1500px, 80%);
}

.decouverte__image-legende {
    text-align: center;
    margin-top: 60px;
    font-size: clamp(1rem, 2vw, 3rem);
}

.legende {
    align-items: baseline;
    justify-content: center;
}

.legende button {
    font-size: 1rem;
    font-family: 'Nunito';
    padding: 20px;
    margin-left: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.legende__accueil {
    font-size: 1.5rem;
}

.decouverte__colonne-gauche,
.decouverte__colonne-droite {
    height: 1250px;
    width: 162px;
    background: url(/assets/photos/background_colonnes.png);
}

.decouverte__colonne-gauche {
    position: relative;
    top: 50px;
    left: 200px;
}

.decouverte__colonne-droite {
    position: relative;
    top: 50px;
    right: 200px;
}

/*? SECTION UNIVERS */
.univers {
    height: auto;
    margin-top: -40px;
    padding: 21px;
}

.univers h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.univers__card-container {
    justify-content: space-around;
    flex-wrap: wrap;
    /* gap quand le wrap se met en action */
    gap: 35px;
}

.univers__cards {
    width: max(410px);
    height: auto;
    align-items: flex-start;
}

.univers__cards-titre {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 15px 0px;
    font-size: large;
    padding-bottom: 10px;
    border-bottom: 10px solid white;
}

.univers__cards-titre:hover {
    cursor: pointer;
    transition: 1s;
    border-bottom: 10px solid var(--color-purple);
}

/*? SECTIONS NOUVEAUTES */
.nouveautes {
    height: auto;
    margin-top: 150px;
}

.nouveautes h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
    padding-left: 21px;
}

.nouveautes__container {
    height: max(462px, 100%);
    width: min(100%, 100%);
    background: var(--color-purple);
    justify-content: space-around;
    gap: 20px;
    padding: 40px 0px;
}

.carrousel__responsive {
    display: none;
}

/** Carrousel animation au click */
.on {
    display: block;
    animation-name: opacity1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

/* Animation sur apparition/disparition des témoignages */
@keyframes opacity1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.off {
    display: none;
    animation-name: opacity0;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes opacity0 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.carrousel1,
.carrousel2,
.carrousel3 {
    gap: 120px;
}

.fa-chevron-right,
.fa-chevron-left {
    font-size: 3rem;
    cursor: pointer;
}

/*? NEWSLETTER */
.newsletter {
    height: auto;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.newsletter h2 {
    font-size: 3rem;
    font-family: 'Nunito';
    margin-bottom: 4rem;
    padding-left: 21px;
    text-align: center;
    margin-top: 91px;
}

.input__newsletter {
    width: 100%;
    gap: 15px;
    justify-content: center;
}

.input__newsletter input {
    height: 50px;
    width: min(759px, 80%);
    background: var(--color-grey);
    border: none;
    text-align: center;
}

/*? FOOTER */
.footer {
    height: 400px;
    background: var(--color-black);
    color: var(--color-white);
    justify-content: space-around;
}

.logo {
    margin-top: 60px;
}

.reseaux__container {
    margin-top: 20px;
    justify-content: space-around;
    width: min(20%, 80%);
}

.footer p {
    color: var(--color-white);
    font-size: x-large;
    margin: 40px 0px;
}

.footer p span {
    color: var(--color-white);
    font-size: medium;
}

.nav__footer {
    justify-content: space-around;
    flex-wrap: wrap;
    width: min(60%, 80%);
    margin-bottom: 30px;
}

.nav__footer a {
    color: var(--color-white);
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    line-height: 2rem;
}

/*? MEDIAQUERIES */

@media screen and (max-width: 2200px) {
    .decouverte__colonne-gauche,
    .decouverte__colonne-droite {
        height: 1100px;
        width: 152px;
    }

    .univers {
        margin-top: -240px;
    }
}
@media screen and (max-width: 2000px) {
    .decouverte__colonne-gauche,
    .decouverte__colonne-droite {
        height: 1000px;
        width: 152px;
    }

    .univers {
        margin-top: -280px;
    }
}

@media screen and (max-width: 1800px) {
    .decouverte__colonne-gauche,
    .decouverte__colonne-droite {
        height: 900px;
        width: 152px;
    }

    .univers {
        margin-top: -400px;
    }
}
@media screen and (max-width: 1600px) {
    .decouverte__colonne-gauche,
    .decouverte__colonne-droite {
        height: 800px;
        width: 152px;
    }

    .univers {
        margin-top: -480px;
    }
}

@media screen and (max-width: 1500px) {
    .univers {
        margin-top: -540px;
    }
}

@media screen and (max-width: 1400px) {
    .decouverte__colonne-gauche,
    .decouverte__colonne-droite {
        height: 700px;
        width: 152px;
    }

    .univers {
        margin-top: -600px;
    }
}

@media screen and (max-width: 1300px) {
    .decouverte__colonne-gauche,
    .decouverte__colonne-droite {
        height: 600px;
        width: 152px;
    }

    .univers {
        margin-top: -650px;
    }
}

@media screen and (max-width: 1250px) {
    .decouverte__colonne-gauche,
    .decouverte__colonne-droite {
        display: none;
    }

    .univers {
        margin-top: -550px;
    }

    .nouveautes {
        margin-top: 100px;
    }

    .nouveautes__container {
        padding: 40px 40px;
    }

    .carrousel1,
    .carrousel2,
    .carrousel3 {
        gap: 20px;
    }
}

@media screen and (max-width: 1150px) {

    .univers {
        margin-top: -600px;
    }
}

@media screen and (max-width: 1050px) {

    .univers {
        margin-top: -700px;
    }
}

@media screen and (max-width: 992px) {
    .nav__desktop {
        flex-direction: column;
        text-align: center;
    }

    .nav__list h2 {
        margin-bottom: 8px;
    }

    .nav__list {
        min-height: 100px;
        min-width: 150px;
        margin-bottom: 10px;
    }

    .nav__list ul li a {
        font-size: smaller;
    }

    .responsive-off {
        display: none;
    }

    .decouverte {
        margin-top: -300px;
    }

    .titres__sections {
        text-align: center;
    }

    .decouverte__image-accueil > img {
        display: none;
    }

    .decouverte__image-accueil :nth-child(2) {
        display: block;
        min-width: 390px;
        margin-top: 30px;
    }

    .univers {
        margin-top: -400px;
    }

    .nouveautes {
        align-items: center;
        margin-top: 100px;
    }

    .nouveautes__container {
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly;
        align-items:flex-start;
        max-width: 400px;
    }

    .carrousel__desktop {
        display: none;
    }

    .carrousel__responsive {
        display: block;
    }

    .carrousel {
        justify-content: center;
    }

    .chevron__gauche {
        text-align: center;
        margin: 10px;
    }

    .chevron__gauche i {
        transform: rotate(90deg);
        text-align: center;
    }

    .chevron__droit {
        text-align: center;
        margin: 10px;
    }

    .chevron__droit i {
        transform: rotate(90deg); 
        text-align: center;
    }
}

@media screen and (max-width: 868px) {

    .univers {
        margin-top: -450px;
    }
}

@media screen and (max-width: 768px) {
    /* Header & menu */
    .header__navigation {
        flex-direction: column;
        height: auto;
        padding: 5px;
        gap: 15px;
    }

    .header__burger {
        margin: 30px 0px;
    }

    .header__icons-client {
        flex-direction: column;
        gap: 15px;
    }

    .input__search img {
        display: none;
    }

    .input__search input {
        margin-left: 15px;
    }

    .icons__client {
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }

    .icons__container {
        margin-right: 0px;
    }

    .icons__container a img {
        padding: 5px;
    }

    .legende {
        flex-direction: column;
        align-items: center;
     }

    .univers {
        margin-top: -550px;
    }

    .univers__card {
        align-items: center;
    }

    .univers__cards-titre {
        width: 100%;
        justify-content: center;
    }

    .footer {
        height: auto;
    }

    .reseaux__container,
    .nav__footer {
        flex-direction: column;
    }

    .nav__footer-items {
        text-align: center;
    }
}

@media screen and (max-width: 570px) {
    .header__navigation {
        flex-direction: column;
        height: auto;
        padding: 5px;
        gap: 15px;
    }

    .header__burger {
        margin: 30px 0px;
    }

    .header__icons-client {
        flex-direction: column;
        gap: 15px;
    }

    .input__search img {
        display: none;
    }

    .input__search input {
        margin-left: 15px;
    }

    .icons__client {
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }

    .icons__container {
        margin-right: 0px;
    }

    .icons__container a img {
        padding: 5px;
    }

    .decouverte {
        margin-top: -280px;
    }

    .univers {
        margin-top: -600px;
    }
}
